.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}
.navLink{
 color: black;
  text-decoration: none;
}

.particales{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  left: 0;
  z-index: -1;
}
.nav_bar{
  display: flex;
  justify-content:space-between;
}